.App {
  text-align: center;
}

.Nav-Elem{
  font-family: 'Microsoft Yi Baiti';
  font-size: 30px;
}

.Nav-Elem:hover{
  background-color: rgb(147, 147, 255);
}

.active{
  font-weight: bold;
  background-color: rgba(153,153,255,0.75);
  margin-left: 5px;
  margin-right: 5px;
}

#Nav-Elem-Title{
  font-family: 'Microsoft YaHei Light';
  font-size: 30px;
}

#Nav-Elem-Title:hover{
  background-color: rgb(147, 147, 255);
}

.text{
  color: black;
}

@media screen and (max-width: 640px) {
  .Nav-Elem{
    margin-right: 0px;
    font-size: 31px;
  }
}
