#title{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Microsoft YaHei Light';
    font-size: 40px;
    font-weight: bold;
}

#circle{
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background: rgb(255,255,102) ;
    border-radius: 50%
}

#time{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Microsoft Yi Baiti';
    font-size: 80px;
}

#text{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Microsoft Yi Baiti';
}

#input_text{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#time-opt{
    position: fixed;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Microsoft Yi Baiti';
    font-size: 28px;
}

#bottom{
    position: fixed;
    top: 85%;
    left: 50%;
    width: 100%;
    height: 9%;
    transform: translate(-50%, -50%);
    background: rgb(102,102,204,0.6) ;
    font-family: 'Microsoft Yi Baiti';
    /* font-size: 30px; */
}

#input_forms{
    display: flex;
    font-size: 20px;
}

#label{
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

#below_bottom{
    position: fixed;
    top: 85%;
    left: 50%;
    /* width: 100%; */
    height: 5%;
    transform: translate(-50%, -50%);
    font-family: 'Microsoft Yi Baiti';
    font-size: 30px;
}

#slider{
    width: 50%;
    font-size: 25px;
}

#sound_buttons{
    padding-right: 10px;
    font-size: 25px;
    cursor: pointer;
}

#sound_buttons:hover{
    font-weight: bolder;
}

#sound_elements{
    font-size: 25px;
    cursor: pointer;
}

#sound_elements:hover{
    font-weight: bolder;
}

#sound_List{
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 70%
}

@media screen and (max-width: 800px) {
    #time-text1{
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #time-text2{
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #time-opt{
        width: 95%;
    }
    #sound_elements{
        margin-left: 20px;
    }
    #slider{
        margin-left: 20px;
        width: 100%;
        font-size: 25px;
    }
    #sound_buttons{
        margin-left: 40px;
    }
}