#page_data{
    margin-top: 70px;
}

#delete:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(204,112,98,0.5);
}

#in_row_delete:hover{
    cursor: pointer;
    font-weight: bold;
}

.background{
    background-color: rgba(153,153,255,0.75) ;
    margin-bottom: 5px;
    padding-top: 10px;
    width: 100%;
    justify-content: center;
}

.label{
    margin-right: 10px;
    font-family: 'Microsoft Yi Baiti';
    font-weight: bold;
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    .background{
        width: 100%;
        justify-content: center;
    }
  }